:root {
  --main: #fff;
}
.hero-container {
  background-color: rgb(102, 95, 95);
  height: 92.5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size:cover;
  /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
}

.hero-container > h1 {
  color: #fff;
  font-size: 70px;
  margin-top: -50px;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
.hero-container > p > span {
  margin-top: 8px;
  color: #fff;
  font-size: 15px;
  font-weight: 100;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btns:hover {
  transition: all 0.3s ease-out;
  color: #fff;
  transition: 250ms;
  border: 2px solid var(--main);
  background-color: transparent;
}
.hero-btns .btns {
  background-color: rgb(204, 217, 223);
  margin: 15px;
  padding: 8px 20px;
  border-radius: 2px;
  cursor: pointer;
  color: #242424;
  padding: 8px 20px;
  border: 2px solid rgb(204, 217, 223);
  transition: all 0.3s ease-out;
}

.hero-btns-logout .btns-logout:hover {
  transition: all 0.3s ease-out;
  color: #fff;
  transition: 250ms;
  border: 2px solid rgb(202, 63, 82);
  background-color: transparent;
}
.hero-btns-logout .btns-logout {
  background-color: rgb(202, 63, 82);
  margin: 15px;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: #161616;
  padding: 8px 20px;
  border: 2px solid rgb(236, 100, 100);
  transition: all 0.3s ease-out;
}


.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
